br
br
.answer.card      
  .card
    .card-body
      | 작성일 : #{moment(answer.com_date).format('YYYY-MM-DD')}
      br
      | 작성자 :  #[a(href=`/employee/${answer.com_author}`)= answer.com_author]
      br
      br
      .card.bg-warning.text-white
        .card-body
          .content
          h5= answer.com_content
          br
          br
      br
      a.btn.btn-sm.btn-outline-danger(data-url=`/project/${answer.com_id}/delete_answer`) 댓글 삭제
      


           