.answer.card
  .rrr
    .card-body
      .content
      h5= answer.com_content
    .row.card-body
      .col-sm
      .col-sm.text-right
        .author
            | 작성일 : #{moment(answer.com_date).format('YYYY-MM-DD')}
            br
             
            | 작성자 :  #[a(href=`/employee/${answer.com_author}`)= answer.com_author]
            br
           


