.answer.card
  .rrr
    .card-body
      .content= answer.comm_content
    .row.card-body
      .col-sm
      .col-sm.text-right
        .author
          | answered on #{moment(answer.comm_date).format('YYYY-MM-DD')}
          if answer.author
            | 
            | by #[a(href=`/employee/${answer.comm_author}`)= answer.comm_author]
