extends ../layout
block content
  title= 'Project List'
  meta(charset='utf-8')
  .container
    .jumbotron
      h1 Project List
      p These are our ongoing projects 
  .container
    input#myInput.form-control(type='text', placeholder='Search..')
    br
    table.table.table-bordered.table-striped.table-hover
      thead
        tr
          th 프로젝트명[PRO_NAME]
          th 기관명[PRO_ORG]
          th 시작일[PRO_START]
      tbody#myTable
        each project in projects
          tr(data-toggle='modal', data-target='#myModal')
            
            td
             a(href=`/project/${project.pro_id}`)= project.pro_name
            td= project.cus_name
            td= project.pro_start 

  script.
    $(document).ready(function(){
    $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    });
    });