footer#myFooter

  |     
  .third-bar
    .container

      |             
      br
      |             
      li
        a.text-body-small(href='#') About Company
      |             
      li
        a.text-body-small(href='#') Home
      |             
      li
        a.text-body-small(href='#') Help
      |             
      li
        a.text-body-small(href='#') Project
      |             
      li
        a.text-body-small(href='#') Developers
      |             
      li
        a.text-body-small(href='#') Security
      |             
      li
        a.text-body-small(href='#', d='') Marketing
      |             
      li
        a.text-body-small(href='#') Employee Register
      |             
      li
        a.text-body-small(href='#') Privacy
      |             
      li
        a.text-body-small(href='#') Cookies

  |     
  hr
  |     
  .third-bar
    .container
      | 2018 Prompt Company CopyRight
    |         
    br
    br
