block topnav
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") PROMPT COMPANY
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/questions") Project
          li.nav-item
            a.nav-link(href="/users") Users
 
          if(!currentUser)
            li.nav-item
              a.nav-link(href='/signin') Signin
          else
            li.nav-item
              a.nav-link(href='/signout') Signout
            li.nav-item
              a.nav-link(href='/myinfo') My Profile
          