extends ../layout

block content
  .container
    h1.main-title 내 정보 수정
    form(action=`/myinfo/${user_info.emp_id}/edit`, method='POST')
      .form-group
        label(for='name') 이름
        input.form-control(type='text', id='name', name='name', value=user_info.emp_name)
      .form-group
        label(for='rnum') 주민번호
        input.form-control(type='text', id='rnum', name='rnum',value=user_info.emp_Rnum)
      .form-group
        label(for='edu') 최종학력
        input.form-control(type='text', id='edu', name='edu',value=user_info.emp_edu)
      .form-group
        label(for='password') 새 비밀번호
        input.form-control(type='password', id='current_password', name='current_password')
      .form-group
        label(for='password') 새 비밀번호 확인
        input.form-control(type='password', id='password', name='password')


      a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
      | 
      button.btn.btn-dark(type='submit') 수정
    br
    br
    br
    br

